asgiref==3.4.1
backports.entry-points-selectable==1.1.1
distlib==0.3.4
Django==4.0
django-social-share==2.2.1
filelock==3.4.2
mysql-connector-python==8.0.27
mysqlclient==2.1.0
Pillow==9.0.0
platformdirs==2.4.1
protobuf==3.19.3
psycopg2==2.9.2
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.8.1
