{% extends 'main.html' %} {% block content %}
<h1>Edit Post</h1>
<!--  -->
<form id="form" action="{% url 'editpost' pid=pin.id %}" method="POST">
    {% csrf_token %}
    <div class="form-label row">
        <div class="preview">
            <!--selected image goes here -->
            <img src="/static/media/{{pin.img}}" id="image" width="250" height="auto">
        </div>
    </div>

    <div class="form-label row">
        <label for="text" class="col-12 col-form-label">Add Your Title</label>
        <div class="col-12">
            <input id="title" name="title" placeholder="Enter Your Title here" class="form-control here" required type="text" value="{{pin.title}}">
        </div>
    </div>
    <div class="form-label row">
        <label for="textarea" class="col-12 col-form-label">Tell Everyone What Your Post Is About</label>
        <div class="col-12">
            <textarea id="caption" name="caption" cols="40" rows="2" class="form-control" placeholder="Enter Here" required>{{pin.caption}}</textarea>
        </div>
    </div>
    <div class="form-label row">
        <label for="textarea" class="col-12 col-form-label">Explain What People Can See In The Post</label>
        <div class="col-12">
            <textarea id="brief" name="brief" cols="40" rows="5" class="form-control" placeholder="Enter Here" required>{{pin.brief}}</textarea>
        </div>
    </div>
    <div class="form-label row">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
<!--  -->
{% endblock %}